<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <div id="wrapper-div">
      <div class="d-flex">
        <div class="main-container">
          <span class="spacer-span">&nbsp;</span>
          {% for message in get_flashed_messages() %}
              <div class="alert alert-danger">{{ message }}</div>
          {% endfor %}
          {% block content %} {% endblock %}
          <br /><br />
        </div>
        <div id="right-div">
          <div class="table-header"><h3>Connectors</h3></div>
          <table>
            {% for connector in connectors_data %}
              {% if loop.index % 2 > 0 or loop.first == True %}
                <tr>
                  <td class="{% if connector.state == 'ALIVE' %}on{% else %}of{% endif %}"><b>ID:</b> {{ connector.id }}<br/>
                  <b>Name:</b> {{ connector.name }}<br/>
                  <b>State:</b> {{ connector.state }}<br/>
                  <b>Last Seen:</b> {{ connector.lastHeartbeatAt }}</td>
              {% else %}
                <td class="{% if connector.state == 'ALIVE' %}on{% else %}of{% endif %}"><b>ID:</b> {{ connector.id }}<br/>
                <b>Name:</b> {{ connector.name }}<br/>
                <b>State:</b> {{ connector.state }}<br/>
                <b>Last Seen:</b> {{ connector.lastHeartbeatAt }}</td>
              {% endif %}
            {% endfor %}
          </table>
          <br/><br/>
          <div class="table-header"><h3>Devices</h3></div>
          <table>
          {% for device in devices_data %}
            {% if loop.first == True or loop.index0 % 3 == 0 %}
              <tr>
                <td class="other"><b>ID:</b> {{ device.id }}<br/>
                  <b>Name:</b> {{ device.name }}<br/>
                  <b>Is Trusted:</b> {{ device.isTrusted }}<br/>
                  <b>OS:</b> {{ device.osName }}<br/>
                  <b>Type:</b> {{ device.deviceType }}</td>
            {% else %}
                <td class="other"><b>ID:</b> {{ device.id }}<br/>
                  <b>Name:</b> {{ device.name }}<br/>
                  <b>Is Trusted:</b> {{ device.isTrusted }}<br/>
                  <b>OS:</b> {{ device.osName }}<br/>
                  <b>Type:</b> {{ device.deviceType }}</td>
            {% endif %}
          {% endfor %}
          </table>
          <div class="table-header"><h3>Resources</h3></div>
          <table>
          {% for resource in resources_data %}
            {% if loop.first == True or loop.index0 % 4 == 0 %}
              <tr>
                <td class="{% if resource.isActive == True %}on{% else %}other{% endif %}"><b>ID:</b> {{ resource.id }}<br/>
                  <b>Name:</b> {{ resource.name }}<br/>
                  <b>Active:</b> {{ resource.isActive }}<br/>
                  <b>Remote Network:</b> {{ resource.remoteNetwork.name }}</td>
            {% else %}
                <td class="{% if resource.isActive == True %}on{% else %}other{% endif %}"><b>ID:</b> {{ resource.id }}<br/>
                  <b>Name:</b> {{ resource.name }}<br/>
                  <b>Active:</b> {{ resource.isActive }}<br/>
                  <b>Remote Network:</b> {{ resource.remoteNetwork.name }}</td>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

  </body>
</html>