<!DOCTYPE html>
<html>
  <head>
    <title>Status Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
  </head>
  <body>
    <h1>Status Page</h1>

    <div class="section">
      <h2>Connectors</h2>
      <div class="cards" id="connectors"></div>
    </div>
    
    <div class="section">
      <h2>Devices</h2>
      <div class="cards" id="devices"></div>
    </div>

    <div class="section">
      <h2>Users</h2>
      <div class="cards" id="users"></div>
    </div>

    <div class="section">
      <h2>Service Accounts</h2>
      <div class="cards" id="service_accounts"></div>
    </div>
    
    <div class="section">
      <h2>Resources</h2>
      <div class="cards" id="resources"></div>
    </div>

    <script src="{{ url_for('static', filename='javascript/twingate_cards.js') }}"></script>
  </body>
</html>
